<div class="content">
    <h1>Get whatever you want</h1>&nbsp;
    <a routerLink="/products"><button type="button" class="btn btn-outline-success btn-sm">Shop now!!</button></a>
</div><br>
<div class="carousel">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="info">
                <img src="https://images.ctfassets.net/rxqefefl3t5b/6I2vL9f0IVsDQ8qFgdrxH7/7660c4bab3116a4a04025d5c4802efa5/Virgin-Red-online-shopping-offers.jpg?fl=progressive&q=80" class="d-block w-100" alt="...">
            </div>
          <div class="carousel-item active">
        </div>
      </div>
</div>
