<div class="productsCard">
    <div class="card" style="width: 18rem;">
        <img src="https://m.media-amazon.com/images/I/81kBNcextoL._SY450_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <b><p>Modern wall art.</p></b>
            <h6>price</h6>
            <p>$99.00</p>
            <hr>
            <button type="button" class="btn btn-success">add to cart</button>&nbsp;
            <button type="button" class="btn btn-warning btn-">wishlist</button>
        </div>
        </div>

      <div class="card" style="width: 18rem;">
        <img src="https://m.media-amazon.com/images/I/81AzD-hsl-L._SX425_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <b><p>Ganpati showPiece.</p></b>
            <h6>price</h6>
            <p>$99.00</p>
            <hr>
            <button type="button" class="btn btn-success">add to cart</button>&nbsp;
            <button type="button" class="btn btn-warning btn-">wishlist</button>
        </div>
        
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://wakefit-co.s3.ap-south-1.amazonaws.com/img/decor/wall%20clock/Wallingford/1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <b><p>Ancient wallClock.</p></b>
            <h6>price</h6>
            <p>$99.00</p>
            <hr>
            <button type="button" class="btn btn-success">add to cart</button>&nbsp;
            <button type="button" class="btn btn-warning btn-">wishlist</button>
        </div>

      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG19/Home/bau/Decornew/XCM_Manual_450x450_1202743_1202743_in_home_decor_28_11_19_2_1574927546_jpg._CB445839522_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <b><p>Family photo frame.</p></b>
            <h6>price</h6>
            <p>$99.00</p>
            <hr>
            <button type="button" class="btn btn-success">add to cart</button>&nbsp;
            <button type="button" class="btn btn-warning btn-">wishlist</button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://www.ylighting.com/on/demandware.static/-/Sites-ylighting-site-catalog/default/dw327d5090/images/subdept/thumbs/yv-outdoor-outdoor-umbrellas.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <b><p>Sunshade roof.</p></b>
            <h6>price</h6>
            <p>$99.00</p>
            <hr>
            <button type="button" class="btn btn-success">add to cart</button>&nbsp;
            <button type="button" class="btn btn-warning btn-">wishlist</button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://www.fnp.com/images/pr/l/v20210902184042/eyeglass-holder-stand-for-him_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <b><p>living room show piece.</p></b>
            <h6>price</h6>
            <p>$99.00</p>
            <hr>
            <button type="button" class="btn btn-success">add to cart</button>&nbsp;
            <button type="button" class="btn btn-warning btn-">wishlist</button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://m.media-amazon.com/images/I/713kgwLGiSL._SY355_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <b><p>decorative clock.</p></b>
            <h6>price</h6>
            <p>$99.00</p>
            <hr>
            <button type="button" class="btn btn-success">add to cart</button>&nbsp;
            <button type="button" class="btn btn-warning btn-">wishlist</button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://m.media-amazon.com/images/I/61GHeKnLLZL._AC_SY355_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <b><p>wall clock .</p></b>
            <h6>price</h6>
            <p>$99.00</p>
            <hr>
            <button type="button" class="btn btn-success">add to cart</button>&nbsp;
            <button type="button" class="btn btn-warning btn-">wishlist</button>
        </div>
      </div>
    

